
<link href='/assets/title.css' rel='stylesheet' type='text/css'>

<div class="output_display">
  <div class="inner_container">
  <div id="letter0" class="letter">
      <div id="shape1"></div>
      <div id="shape2"></div>
      <div id="shape3"></div>
      <div id="shape4"></div>
      <div id="shape5"></div>
  </div>
  <div id="letter1" class="letter">
      <div id="shape6"></div>
      <div id="shape7"></div>
      <div id="shape8"></div>
      <div id="shape9"></div>
  </div>
  <div id="letter2" class="letter">
      <div id="shape10"></div>
      <div id="shape11"></div>
  </div>
  <div id="letter3" class="letter">
      <div id="shape12"></div>
      <div id="shape13"></div>
      <div id="shape14"></div>
      <div id="shape15"></div>
      <div id="shape16"></div>
  </div>
  <div id="letter4" class="letter">
      <div id="shape17"></div>
      <div id="shape18"></div>
      <div id="shape19"></div>
  </div>
  </div>
</div>
