%section#song
:javascript
  window.VIEW_STATE = {cursor: {beats: 0, pitch: 0}};
  window.SONG_STATE = #{song_json.to_json};
  view = React.createElement(Part, null);
  window.PART_VIEW = React.render(view, window.song);
