# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ed26fbd512288788e2cc18b94a61db84c1d1ad2dbfdef6776f47d975162ee3c8f9b5537c6b73bdb323684635a54fb900dc0adf594bb8ad7de10dcdd45bc76123

test:
  secret_key_base: 6a02a9425bd3657838a01fc92e09cf44a40fff6c0312e9fe95f543392c35a5f6516a282d2417c9bd558c6995f6d9886cddd6fc64bdd61413903bb6fc90f5859b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: {{ rails_secret_key_base }}
