.output_display  {
  display: block;
  position: relative;
  height: 160px;
}

body > div{
  margin-left: 60px;
}

code {
  background-color: yellow;
}

em {
  font-style: normal;
  background-color: lightpink;
}
