<!DOCTYPE html>
<html>
<head>
  <title>Seq27</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'home' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
