!!!
%html(lang="en-us" itemscope="")
%head
  %title Seq27 UI
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
  = stylesheet_link_tag "all"

%body
  .wrapper
    %header
    = yield
